<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <label of="login">Login Info:</label>
    <form id="login" onsubmit="signUp(event)">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Your name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Your email Id" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Your password" required>
        <button type="submit">Sign up</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.8.4/axios.min.js"></script>
    <script src="../public/js/loginPublic.js"></script>
</body>
</html>