<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cashfree Checkout Integration</title>
        <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
    </head>
    <body>
        <header>
            <h1>Cashfree Checkout Integration</h1>
        </header>
        <div class="card">
            <h3>Click below to open the checkout page in current tab</h3>
            <button id="renderBtn">buy premium membership</button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.8.4/axios.min.js"></script>
        <script src="../public/js/cashfreeWeb_self.js"></script>
    </body>
</html>